@import "tailwindcss";

@theme {
	--font-sans: "Inter", sans-serif;
	
	--color-bg-primary: #FAFAFA;
	--color-bg-card: #F2F2F2;
}

body {
	font-family: var(--font-sans);
	background-color: var(--color-bg-primary);
	color: #000;
	-webkit-font-smoothing: antialiased;
}
